<h1><%= @admin_user %></h1>
<p><%= link_to "By name", users_path(sort: "name") %></p>
<table class = "table table-striped">
	<tr>
		<td>id</td><td>name<%= link_to "↑", users_path(sort: "name ASC") %><%= link_to "↓", users_path(sort: "name DESC") %></td><td>last name<%= link_to "↑", users_path(sort: "lastname ASC") %><%= link_to "↓", users_path(sort: "lastname DESC") %></td>
	</tr>
	<% @user_hash.each do |user| %>
	<tr>
		<td><%= user[:id]%></td>
		<td><%= user[:name]%></td>
		<td><%= user[:lastname]%></td>
	</tr>
	<% end %>

</table>
<%= will_paginate @user_hash %>


